@import "tailwindcss";


:root {
  --sblue: #3CA8CF;
  --bold-blue: #2a7a9c; /* Optional: darker shade for bold text */
  --light-blue: #5ECCF4;
  --dark-gray: #0E0E0E;
  --light-gray: #747474;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

html, body {
  overflow: auto;
  font-family: 'Inter', sans-serif;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}

@keyframes slideDown {
  0% { transform: translateY(-20px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}